<section class="info">

  <h3 class="desk-name">[{{project}}] {{deskName}}</h3>
		
  <div class="participants">
    Participants:

    <ul>
      {{#each participant}}
        <li data-id="{{email}}">
          <img src="/api/photo/?id={{#if photoId}}{{photoId}}{{else}}dummy{{/if}}" {{#if photoId}}class="photo" {{/if}}/>
          <span>{{name}}</span>
        </li>
      {{/each}}
      {{#each guest}}
        <li data-id="{{email}}">
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>
  
</section>
<h4>Stories:</h4>
<section id="stories">
</section>