{{#isowner}}
  {{#compare estimate 0 operator="<"}}
		{{#unless active}}
  		<a href="#" class="btn activate" data-id="{{_id}}">Activate</a>
  	{{/unless}}
		{{#if active}}
      {{#if revealed}}
        <a href="#" class="btn estimate">Set</a><input id="storyEstimate" type="text" class="btn" placeholder="Estimate..." />
      {{/if}}
  		<a href="#" class="btn reveal" data-id="{{_id}}">{{#if revealed}}UnReveal{{else}}Reveal{{/if}}</a>
  	{{/if}}
  {{/compare}}
{{/isowner}}

{{#compare estimate 0 operator=">="}} <span class="estimation">{{estimate}}</span> {{/compare}}
<h4>
	{{summary}}
</h4>
{{#if active}}
	Other estimates:
	<div class="votes" {{#if revealed}}data-revealed="true"{{/if}}>
    <div style="margin: 1em">
      No estimates
    </div>
	</div>
	{{#unless revealed}}
    Choose your estimate:
    <form class="cards">
        {{#each cards}}
            <label style="background: url(/images/decks/{{img}}) 0 0 no-repeat;" class="card"><input type="radio" name="estimate" value="{{value}}"><span class="sel"></span></label>
        {{/each}}
    </form>
	{{/unless}}
{{/if}}
