{{#isowner}}
	{{#unless active}}
  	{{#compare estimate 0 operator="<"}}
  		<a href="#" class="btn activate" data-id="{{_id}}">Activate</a>
    {{/compare}}
  {{/unless}}
{{/isowner}}
<h4>
	{{summary}} {{#compare estimate 0 operator=">="}} ({{estimate}}) {{/compare}}
</h4>
{{#if active}}
	Other estimates:
	<div class="votes"></div>
  Choose your estimate:
  <form class="cards">
      {{#each cards}}
          <label style="background: url(/images/decks/{{img}}) 0 0 no-repeat;" class="card"><input type="radio" name="estimate" value="{{value}}"><span class="sel"></span></label>
      {{/each}}
  </form>
{{/if}}
