{{#if isRevealed}}
  <label style="background: url(/images/decks/{{cardimg estimate}}) 0 0 no-repeat; background-size: contain;"></label>
  <span class="name">{{name}}</span>
{{else}}
	<label style="background: url(/images/decks/{{cardcover}}) 0 0 no-repeat; background-size: contain;"></label>
  <span class="name">{{name}}</span>
{{/if}}