{{#if isRevealed}}
  <label style="background: url(/images/decks/{{cardimg estimate}}) 0 0 no-repeat; background-size: contain;"></label>
  {{email}}
{{else}}
	<label style="background: url(/images/decks/{{cardcover}}) 0 0 no-repeat; background-size: contain;"></label>
  {{email}}
{{/if}}